.input-fields {
    display: flex;
	flex-flow: row wrap;
}

.route-form input {
	margin: 5px;
	width: 320px;
}

.route-info, .client-info, .transporter-info{
	display: flex;
	flex-flow: column wrap;
}