html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border:3px solid #8AC007;
	padding: 10px;
}

.upper-left {
    margin: 10px;
    /* padding: 10px; */
	background-color: #8AC007;
	width: 40px;
	height: 40px;
	display: inline-block;
	cursor:pointer;	
	text-align: center;
	vertical-align: middle;
}

.upper-plus {
	text-decoration: none;
	width: 100%;
	height: 100%;  
	line-height:3em;
	text-align: center;
	vertical-align: middle;
}

.icon-plus:before {
	content: "\f067";
	color: #000;
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
	font-size: 1.7em;
	position: relative;
	top: -5%;
	/* transform: translateY(-50%); */
}

.upper-right {
    margin: 20px;
    padding: 10px;
	color: #000;
	width: 200px;
	height: 20px;
	text-align: center;
	display: inline;
	position: absolute;
	right: 20px;
}

.title {
	text-align: center;
	font-weight: bold;
}

.route-info {
	float: left;
	/* width: 47%; */
	height: 100%;
	/* border:3px solid #FF3B14; */
	min-width: 40%;
	max-width: 60%;
	order: 1;
}

.basic-info{	
	/* border:3px solid #6932FF; */
	height: 33%;
    margin: 5px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.basic-info-container {
    margin: 5px;
	display: inline;	
	/* border:3px solid #38FFF1; */
	float:left;
}

.info-container {	
    margin: 5px;
	/* border:3px solid #C58CFF; */
	height: 55%;
	display: flex;
	flex-flow: row wrap;
}

.client-info, .transport-info {
	/* border:3px solid #FF196D; */
	float:left;	
    margin: 5px;
}

.small-text {
	font-size: 0.70em;
}

.view-map-wrapper {
	padding: 0px;
	cursor:default;	
}

.view-map {	
	cursor:pointer;	
	padding: 0px;
	width: 40px;
	height: 40px;
	display: block;
    margin-left: auto;
    margin-right: auto;
 }
 
#map {
	height: 100%;
}

#floating-panel {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto','sans-serif';
	line-height: 25px;
	padding: 10px;
}

#start, #end, #total {
	width:100%;
} 